<form method="POST" action="/todos">
  <input type="text" name="custom_method" style="display: none" value="POST">

  <label for="title">Title:</label>

  <input type="text" name="title">

  <input type="submit" value="Submit">
</form>